<!DOCTYPE html>
<html>
<body>
 <div class="container">
    <%= flash[:notice] %>
    <h3>Customer List</h3>

      <div>
        <%= link_to 'Add Customer', customers_new_path %>
      </div>
      <br>
    <table border="2">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Birth date</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.id %></td>
            <td><%= customer.name %></td>
            <td><%= customer.birth_date.strftime("%d-%m-%Y") %></td>

           <div>
               <td>
                <%= link_to 'Edit', edit_customer_path(customer) %>
                <%= link_to 'Delete', customer_path(customer), method: :delete, data: { confirm: 'Are you sure?' } %>
           </div>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
    </div>
  </body>
</html>
